<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MMT_Delivery::delivery" title="Delivery" module="MMT_Delivery" sortOrder="10"
             resource="Magento_Backend::content"/>

        <add id="MMT_Delivery::delivery_list" title="Delivery Cost" module="MMT_Delivery" sortOrder="10"
             parent="MMT_Delivery::delivery" action="custom_delivery/index/grid"
             resource="MMT_Delivery::delivery_list"/>
    </menu>
</config>
